@font-face {
    font-family: digikala;
    src: url("fonts/icons.eot"),
            url("fonts/icons.woff2"),
            url("fonts/icons.woff"),
            url("fonts/icons.ttf");
}

@font-face {
    font-family: yekan;
    font-weight: 100;
    src: url("fonts/yekan.eot"),
            url("fonts/yekan.woff"),
            url("fonts/yekan.ttf");
}

@font-face {
    font-family: yekan;
    font-weight: 400;
    src: url("fonts/yekanRegular.eot"),
            url("fonts/yekanRegular.woff"),
            url("fonts/yekanRegular.ttf");
}

body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: yekan;
}

body{
    text-align: right;
    direction: rtl;
}

a{
    color: #424750;
    transition: all .7s;
}

a:hover{
    color: #ef394e;
    text-decoration: none;
}

del{
    color: #acacac;
}

.header{
    background-color: #fff;
    box-shadow: rgba(0,0,0,.04) 0 7px 8px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header > .inner-section{
    width: 100%;
    min-width: 1009px;
    max-width: 1626px;
    margin: 0 auto;
}

.header .main-nav-logo{
    display: block;
    background: url(images/logo.svg) no-repeat 50%;
    height: 44px;
    width: 110px;
    background-size: contain;
}

.header .search-box{
    border-radius: 5px;
    margin-right: 24px;
    background-color: #f0f0f1;
    height: 44px;
    box-sizing: border-box;
    padding: 4px 10px;
    width: 60%;
    display: flex;
}

.header .search-box > span.btn-icon{
    display: block;
    color: #a1a3a8;
    font-size: 24px;
    width: 36px;
    height: 36px;
}

.header .search-box input[type=text]{
    height: 36px;
    width: calc(100% - 60px);
    color: #474747;
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
    font-family: yekan;
}

.login-btn{
    display: flex;
    align-items: center;
    font-family: yekan;
    font-size: 12px;
}

.separator{
    display: inline-block;
    margin: 0 5px;
    border-right: 1px solid #e0e0e2;
    vertical-align: middle;
    height: 30px;
}

.bars-icon:before{
    content: "\E138\00FE0E";
    font-family: digikala;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 20px;
}

.bucket-icon:before{
    content: "\E089\00FE0E";
    font-family: digikala;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 20px;
}

.discount-icon:before{
    content: "\E057\00FE0E";
    font-family: digikala;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 20px;

}

.certified-icon:before{
    content: "\E075\00FE0E";
    font-family: digikala;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 20px;

}

.chain-icon:before{
    content: "\E0FB\00FE0E";
    font-family: digikala;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 20px;

}

.location-icon:after{
    content: "\E155\00FE0E";
    font-family: digikala;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 20px;

}

.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.menu > li:not([class=hover]){
    color: #616161;
    cursor: pointer;
    padding: 0 10px;
    font-size: 12px;
    line-height: 40px;
    z-index: 4;
}

.menu > li.hover{
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 0;
    z-index: 3;
    transform: scaleX(1);
}

.menu > li.hover > div:before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 4;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ef5661;
}

.text-subtitle{
    font-size: 12px;
    color: #616161;
}

.banners{
    padding: 140px 20px 0 20px;
}

.inner-section{
    max-width: 1336px;
    min-width: 0;
    margin: 0 auto;
}

.block{
    border-radius: 5px;
}

.banners .banner-image{
    margin-bottom: 15px;
    width: 100%;
}

.swiper-pagination{
    bottom: 20px !important;
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 1;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.swiper-pagination-bullet:hover{
    width: 11px;
    height: 11px;
}

.swiper-pagination-bullet-active{
    background-color: #00bfd6;
 }

.banners .swiper-button-next:after, .banners .swiper-button-prev:after{
    color: #fff;
    text-shadow: 0 2px 4px #616161;
}

.sub-menu{
    display: none;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);
    padding: 12px;
    position: absolute;
    right: 143px;
    line-height: 20px;
}

.sub-menu a{
    padding: 5px 0;
    display: inline-block;
}

.discount-icon > .sub-menu{
    width: 830px;
}

.chain-icon > .sub-menu{
    width: 610px;
}

.menu > li:hover > .sub-menu{
    display: block;
}

.see-all-cats:after{
    content: "\E0CD\00FE0E";
    font-family: digikala;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 20px;

}

.padd{
    padding-top: 10px;
    padding-bottom: 10px;
}

hr{
    padding-top: 15px;
}

.menu-image{
    width: 100%;
}

.special-part{
    padding: 40px 0;
    background-image: url("images/special_bg.svg");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: auto 100%;
}

.swiper-special .swiper-slide-inner{
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 5px 15px 15px 15px;
    text-align: left;
}

.swiper-special .swiper-slide:first-child .swiper-slide-inner{
    margin-right: 0;
}

.swiper-special .swiper-slide-inner > .image-container{
    width: 180px;
    height: 180px;
    margin: 5px auto;
}

.swiper-special .swiper-slide-inner > .title{
    display: block;
    text-align: center;
    color: #535353;
    font-size: 12px;
    height: 65px;
    margin-top: 15px;
}

.swiper-special .swiper-slide-inner > .price-container{
    text-align: left;
}

.swiper-special .swiper-slide-inner > .price-container > .discount{
    padding: 4px 6px 1px;
    background-color: #fb3449;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
}

.swiper-special .swiper-slide-inner > .price-container > .now-price{
    font-size: 20px;
}

.swiper-special .swiper-slide-inner > .price-container > .price-unit{
    font-size: 14px;
}

.swiper-special .swiper-button-next, .swiper-special .swiper-button-prev{
    padding: 50px 30px;
    background-color: #fff;
    color: #1b1e21;
    box-shadow: 1.5px 0 4px 0 rgba(0,0,0,.15);
    top: calc(50% - 50px);
}

.swiper-special .swiper-button-next{
    left: 15px;
}

.swiper-special .swiper-button-prev{
    right: 15px;
}

.swiper-special .swiper-button-next:after, .swiper-special .swiper-button-prev:after{
    font-size: 26px !important;
}

*[class*='swiper-container']{
    overflow: hidden;
}

.body-section{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 35px;
}

h3.title{
    font-size: 18px;
    padding: 10px 15px;
    height: 45px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ef5661;
}

hr.title{
    height: 45px;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #dfdfdf;
}

.swiper-body-part .swiper-slide-inner > .image-container{
    width: 140px;
    height: 140px;
}

h4.title{
    color: #656565;
    font-size: 19px;
    padding: 20px 0;
}

.categories{
    text-align: center;
}

.categories div.title{
    color: #2a2a2a;
    font-size: 12px;
    height: 45px;
}

.categories div.count{
    color: #00bfd6;
    font-size: 12px;
}

.sub-menu.categorization{
    background-color: #f7f7f7;
    padding: 0;
    right: 15px;
    border-radius: 0 0 5px 0;
}

.sub-menu.categorization > ul.sub-menu-container{
    padding: 8px 8px 8px 0;
    list-style-type: none;
}

.sub-menu.categorization > ul.sub-menu-container > li{
    padding: 14px 8px;
    width: 225px;
    transition: all .6s;
    border-radius: 0 5px 5px 0;
}

.sub-menu.categorization > ul.sub-menu-container > li:hover{
    color: #ef394e;;
    background-color: #fff;
}

.sub-menu.categorization > ul.sub-menu-container > li > .sub-menu-container{
    width: 1024px;
    background: #fff;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);
    display: none;
    list-style-type: none;
    position: absolute;
    top: 0;
    height: 100%;
    right: 100%;
    color: #616161;
    border-radius: 0 0 0 5px;
    padding: 0 12px;
}

.sub-menu.categorization > ul.sub-menu-container > li:hover > .sub-menu-container {
    display: block;
}

.go-to-top{
    font-size: 20px;
    text-align: center;
    margin: 30px 0 10px 0;
    cursor: pointer;
    border-top: 1px solid #eceff1;
    bordeg-botttom: 1px solid #cfd8dc;
    padding: 10px 0;
}

.footer{
    background-color: #eceff1;
    padding-top: 40px;
    color: #4a5f73;
    font-size: 14px;
}
.footer .footer-item{
    text-align: center;
}

.footer .footer-item > img{
    height: 60px;
}

.footer .footer-item > .text{
    display: block;
    margin: 10px 0 15px 0;
    text-align: center;
}

.footer h5.section-title{
    font-size: 16px;
    margin: 25px 0;
}

.footer .section-li{
    display: block;
    padding: 6px 0;
}

.newsletter{margin: 15px 0;}
.newsletter input[type=email]{
    font-family: yekan;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    width: calc(100% - 80px);
    border: 1px solid #c8c8c8;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.newsletter > button{
    border: none;
    height: 42px;
    font-family: yekan;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    text-align: center;
    background-color: #00bfd6;
    color: #fff;
    border-radius: 5px 0 0 5px;
    width: 75px;
}

.footer-social{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-social li > a{
    font-size: 32px;
    padding: 0 7px;
}

.footer .download-app{
    width: 150px;
}

.footer .footer-ultimate{
    margin-top: 20px;
    background-color: #d7dee0;
    padding: 15px;
}

.footer .footer-ultimate .footer-item > img{
    height: 31px;
}

.copyright{
    text-align: center;
    font-size: 12px;
}